<div class="container">
    <div class="row">
        <div class="col-6 item-lef">
            <h1 class="title">
                Navigating the digital landscape for success
            </h1>
            <div>
                <p class="p-style">Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.</p>
            </div>

            <button type="button" class="btn btn-dark bt-style">Book a consultation</button>
        </div>
        <div class="col-6">
            <div class="imageAlto">
                <img src="../../../assets/img/Illustration.jpg"/>
            </div>
        </div>
    </div>
</div>
<!--div class="container2">
    <div class="row">
        <div class="col-6">
            <div class="imageIcon">
                <img src="../../../assets/img/Heading.jpg"/>
                <p>At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:</p>
            </div>
           </div>
        </div>
    </div-->