.h1 {
    display: flex;
    width: 1240px;
    height: 347px;
    padding: 0px 60px;
    align-items: center;
    gap: 275px;
    flex-shrink: 0;
}

.p {
    width: 500px;
    height: 69px;
    color: #000;


    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 400;

}

.container {
    border-radius: 45px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #FFF;
}

.buttom {
    display: flex;
    padding: 20px 35px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 14px;
    background: var(--Dark, #191A23);
}