<div class="container">
  <div class="row">
    <div class="col-6">
        <h1>
          Let’s make things happen
        </h1>
        <p>Contact us today to learn more about how our digital marketing services can help your business grow and succeed online.</p>

        <button type="button" class="btn btn-dark">Get your free proposal</button>
    </div>
    <div class="col-6">
        <div class="imageAlto">
            <img src="../../../assets/img/Frame 19.png"/>
        </div>
    </div>
   </div>

</div>