<div class="container text-left">
  <div class="card card-green">
      <div class="row">
        <div class="col">
                    <div class="imageAlto mt-4">
                      <img [src]="image_txt"/>
                      </div>
                      <img src="../../../assets/img/01.jpg"/>
                      <hr/>
                      <p>During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.</p>
                    </div>
         </div>
        </div>

<div class="container text-left">
   <div class="card card-white">
       <div class="row">
          <div class="col">
                <div class="imageAlto mt-4">
                    <img [src]="image_txt"/>
                    <img src="../../../assets/img/02.jpg" />
                      <p>Research and Strategy Development</p>
                </div>
                </div>
            </div>
          </div>
    
<div class="container text-left">
  <div class="card card-white">
     <div class="row">
        <div class="col">
          <div class="imageAlto mt-4">
            <img [src]="image_txt"/>
          </div>
            <img src="../../../assets/img/03.png"/>
            <p>Implementation</p>
          </div>
        </div>
     </div>


<div class="container text-left">
    <div class="card card-white">
      <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt"/>
        </div>
          <img src="../../../assets/img/04.png"/>
          <p>Monitoring and Optimization</p>
        </div>
       </div>
      </div>

<div class="container text-left">
  <div class="card card-white">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
            <img [src]="image_txt"/>
        </div>
            <img src="../../../assets/img/05.jpg"/>
           <p>Reporting and Communication</p>
        </div>
          </div>
        </div>   

<div class="container text-left">
   <div class="card card-white">
      <div class="row">
         <div class="col">
              <div class="imageAlto mt-4">
                <img [src]="image_txt"/>
              </div>
                <img src="../../../assets/img/06.png"/>
                <p>Continual Improvement</p>
              </div>
          </div>
    </div>                                                                                  
                 
             
         
     