.card-green {
    display: inline-flex;
    width: 1234px;
    padding: 0px 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    border-radius: 45px;
    border: 1px solid #191A23;

    background: var(--Green, #B9FF66);
    box-shadow: 0px 5px 0px 0px #191A23;
}

.card-white {
    display: inline-flex;
    width: 1234px;
    padding: 0px 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    border-radius: 45px;
    border: 1px solid #191A23;

    background: var(--Grey, #F3F3F3);
    box-shadow: 0px 5px 0px 0px #191A23;
}

.h3 {
    width: 612px;
    color: #000;
    font-family: Space Grotesk;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}