<div class="container text-left">
  <div class="card card-green">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt" />
        </div>
        <div class="row">
          <div class="col" style=" display: flex; align-items: center;">
            <h1 class="h1-style">
              01
            </h1>
            <h3 style="margin-left: 2%;">Consultation</h3>
          </div>
          <div class="col-1">
            <div class="stype-border">
              <h1 class="text-center"> -</h1>
            </div>
            <!--img src="../../../assets/img/Plus icon.png" /-->
          </div>
        </div>
        <div class="hr"></div>
        <p class="p-style">During the initial consultation, we will discuss your business goals and objectives, target
          audience, and
          current marketing efforts. This will allow us to understand your needs and tailor our services to best fit
          your requirements.</p>
      </div>
    </div>
  </div>

  <div class="card card-white">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt" />
        </div>
        <div class="row">
          <div class="col" style=" display: flex; align-items: center;">
            <h1 class="h1-style">
              02
            </h1>
            <h3 style="margin-left: 2%;">Research and Strategy Development</h3>
          </div>
          <div class="col-1">
            <div class="stype-border">
              <h1 class="text-center"> + </h1>
            </div>
            <!--img src="../../../assets/img/Plus icon.png" /-->
          </div>
        </div>
        <div class="hr-white"></div>
        <p class="p-style-white">During the initial consultation, we will discuss your business goals and objectives,
          target audience, and
          current marketing efforts. This will allow us to understand your needs and tailor our services to best fit
          your requirements.</p>
      </div>
    </div>
  </div>
  
  <div class="card card-white">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt" />
        </div>
        <div class="row">
          <div class="col" style=" display: flex; align-items: center;">
            <h1 class="h1-style">
              03
            </h1>
            <h3 style="margin-left: 2%;">Implementation</h3>
          </div>
          <div class="col-1">
            <div class="stype-border">
              <h1 class="text-center"> + </h1>
            </div>
            <!--img src="../../../assets/img/Plus icon.png" /-->
          </div>
        </div>
        <div class="hr-white"></div>
        <p class="p-style-white">During the initial consultation, we will discuss your business goals and objectives,
          target audience, and
          current marketing efforts. This will allow us to understand your needs and tailor our services to best fit
          your requirements.</p>
      </div>
    </div>
  </div>
  <div class="card card-white">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt" />
        </div>
        <div class="row">
          <div class="col" style=" display: flex; align-items: center;">
            <h1 class="h1-style">
              04
            </h1>
            <h3 style="margin-left: 2%;">Monitoring and Optimization</h3>
          </div>
          <div class="col-1">
            <div class="stype-border">
              <h1 class="text-center"> + </h1>
            </div>
            <!--img src="../../../assets/img/Plus icon.png" /-->
          </div>
        </div>
        <div class="hr-white"></div>
        <p class="p-style-white">During the initial consultation, we will discuss your business goals and objectives,
          target audience, and
          current marketing efforts. This will allow us to understand your needs and tailor our services to best fit
          your requirements.</p>
      </div>
    </div>
  </div>
  <div class="card card-white">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt" />
        </div>
        <div class="row">
          <div class="col" style=" display: flex; align-items: center;">
            <h1 class="h1-style">
              05
            </h1>
            <h3 style="margin-left: 2%;">Reporting and Communication</h3>
          </div>
          <div class="col-1">
            <div class="stype-border">
              <h1 class="text-center"> + </h1>
            </div>
            <!--img src="../../../assets/img/Plus icon.png" /-->
          </div>
        </div>
        <div class="hr-white"></div>
        <p class="p-style-white">During the initial consultation, we will discuss your business goals and objectives,
          target audience, and
          current marketing efforts. This will allow us to understand your needs and tailor our services to best fit
          your requirements.</p>
      </div>
    </div>
  </div>
  
  <div class="card card-white">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt" />
        </div>
        <div class="row">
          <div class="col" style=" display: flex; align-items: center;">
            <h1 class="h1-style">
              06
            </h1>
            <h3 style="margin-left: 2%;">Continual Improvement</h3>
          </div>
          <div class="col-1">
            <div class="stype-border">
              <h1 class="text-center"> + </h1>
            </div>
            <!--img src="../../../assets/img/Plus icon.png" /-->
          </div>
        </div>
        <div class="hr-white"></div>
        <p class="p-style-white">During the initial consultation, we will discuss your business goals and objectives,
          target audience, and
          current marketing efforts. This will allow us to understand your needs and tailor our services to best fit
          your requirements.</p>
      </div>
    </div>
  </div>
</div>



<!--div class="container text-left">
  <div class="card card-white">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt" />
          <img src="../../../assets/img/02.jpg" />
          <img src="../../../assets/img/Plus.jpg" />
          <h3>Research and Strategy Development</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-left">
  <div class="card card-white">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt" />
        </div>
        <img src="../../../assets/img/03.png" />
        <img src="../../../assets/img/Plus.jpg" />
        <h3>Implementation</h3>
      </div>
    </div>
  </div>
</div>


<div class="container text-left">
  <div class="card card-white">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt" />
        </div>
        <img src="../../../assets/img/04.png" />
        <img src="../../../assets/img/Plus.jpg" />
        <h3>Monitoring and Optimization</h3>
      </div>
    </div>
  </div>
</div>

<div class="container text-left">
  <div class="card card-white">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt" />
        </div>
        <img src="../../../assets/img/05.jpg" />
        <img src="../../../assets/img/Plus.jpg" />
        <h3>Reporting and Communication</h3>
      </div>
    </div>
  </div>
</div>

<div class="container text-left">
  <div class="card card-white">
    <div class="row">
      <div class="col">
        <div class="imageAlto mt-4">
          <img [src]="image_txt" />
        </div>
        <img src="../../../assets/img/06.png" />
        <div>
          <h3>Continual Improvement</h3>
        </div>
        <img src="../../../assets/img/Plus.jpg" />
      </div>
    </div>
  </div>
</div-->