<div class="container">
    <div class="row">
      <div class="col">
        <app-card [image_txt]="'../../../assets/img/Heading_white.png'"[color]="'white'" [image]="'../../../assets/img/tokyo2.jpg'"></app-card>
      </div>
      <div class="col">
        <app-card [image_txt]="'../../../assets/img/pay2.png'"[color]="'green'" [image]="'../../../assets/img/tokyo3.jpg'"></app-card>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col">
          <app-card [image_txt]="'../../../assets/img/Heading_and_black.png'"[color]="'black'" [image]="'../../../assets/img/Illustration_black.png'"></app-card>
        </div>
        <div class="col">
          <app-card [image_txt]="'../../../assets/img/email.png'"[color]="'white'" [image]="'../../../assets/img/tokyo4.jpg'"></app-card>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <app-card [image_txt]="'../../../assets/img/creation.jpg'"[color]="'green'" [image]="'../../../assets/img/tokyo5.png'"></app-card>
        </div>
        <div class="col">
          <app-card [image_txt]="'../../../assets/img/track.jpg'"[color]="'black'" [image]="'../../../assets/img/pizza.png'"></app-card>
        </div>
      </div>
  </div>