
<!-- Other content of your app -->
<app-navbar></app-navbar>
<app-header></app-header>
<app-top-header></app-top-header>
<div class="container mt-4 mb-4">
    <div class="row mt-4 mb-4">
        <div class="col-6" style="margin-left: 10%;">
            <img src="../../../assets/img/Frame.jpg">
         </div>
    </div>
</div>
<app-servicer-des></app-servicer-des> 
<app-section-card></app-section-card>
<app-coluna></app-coluna>
<app-studies></app-studies>
<app-cont-black></app-cont-black>
<app-working></app-working>
<app-box></app-box>
<app-team></app-team>
<app-profile></app-profile>
<app-test></app-test>
<app-contact></app-contact>
<app-form></app-form>







<!--
    <app-card [color]="'green'"></app-card>
    <app-card [image_txt]="'../../../assets/img/Heading_and_black.png'"[color]="'black'" [image]="'../../../assets/img/Illustration_black.png'"></app-card>
    <app-card [image_txt]="'../../../assets/img/Heading_and_black.png'"[color]="'white'" [image]="'../../../assets/img/Illustration_black.png'"></app-card>
-->