<div class="container text-left">
  <div class="card card-black">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="linha-vertical">
            <p>For a local restaurant, we implemented a targeted PPC campaign that resulted in a 50% increase in website traffic and a 25% increase in sales.</p>
            
            <h5 class="leanMore">Learn More</h5>       
          </div>
        </div>
        
        <div class="col ml-2">
          
          <div class="linha-vertical">
            <p>For a B2B software company, we developed an SEO strategy that resulted in a first page ranking for key keywords and a 200% increase in organic traffic.</p>
            
            <h5 class="leanMore">Learn More</h5>
          </div>
        </div>
        
        <div class="col ml-2">
          
          <div class="linha-vertical-r">
            <p>For a national retail chain, we created a social media marketing campaign that increased followers by 25% and generated a 20% increase in online sales.</p>
            
            <h5 class="leanMore">Learn More</h5>
          </div>   
    </div>

    </div>
  </div> 
</div>
  
  
      
