.card{
    padding: 36px;
    border: 2px solid #191A23;
    border-top-left-radius: 25px; /* Raio da curva na parte superior esquerda */
    border-top-right-radius: 25px;
    border-bottom: 7px solid #191A23;
    border-bottom-left-radius: 25px; /* Raio da curva na parte inferior esquerda */
    border-bottom-right-radius: 25px;
}
.card-black{
    background-color:#191A23;
}
.linha-vertical{
    border-right: 1px solid white;
    color: white;
    padding: 5%;
}
.linha-vertical-r{
    border-right: 1px solid black;
    color: white;
    padding: 5%;
}

.leanMore{
    margin-top: 3%;
    color: #B9FF66;
    font-family: Space Grotesk;
}