<div class="container">
    <section>
        <div class="row">
            <div class="col">
                <app-card-profile [userImg]="'../../../assets/img/X1.png'" [userName]="'John Smith '"[userProfile]="'CEO and Founder'"[description]="'10+ years of experience in digital marketing. Expertise in SEO, PPC, and content strategy'"></app-card-profile>
            </div>
            <div class="col">
                <app-card-profile [userImg]="'../../../assets/img/X2.png'" [userName]="'Jane Doe'"[userProfile]="'Director of Operations'"[description]="'7+ years of experience in project management and team leadership. Strong organizational and communication skills'"></app-card-profile>
            </div>
            <div class="col">
                <app-card-profile [userImg]="'../../../assets/img/X3.png'" [userName]="'Michael Brown'"[userProfile]="'Senior SEO Specialist'"[description]="'5+ years of experience in SEO and content creation. Proficient in keyword research and on-page optimization'"></app-card-profile>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-card-profile [userImg]="'../../../assets/img/X4.png'" [userName]="'Emily Johnson'"[userProfile]="'PPC Manager'"[description]="'3+ years of experience in paid search advertising. Skilled in campaign management and performance analysis'"></app-card-profile>
            </div>
            <div class="col">
                <app-card-profile [userImg]="'../../../assets/img/X5.png'" [userName]="'Brian Williams'"[userProfile]="'Social Media Specialist'"[description]="'4+ years of experience in social media marketing. Proficient in creating and scheduling content, analyzing metrics, and building engagement'"></app-card-profile>
            </div>
            <div class="col">
                <app-card-profile [userImg]="'../../../assets/img/X6.png'" [userName]="'Sarah Kim'"[userProfile]="'Content Creator'"[description]="'2+ years of experience in writing and editingSkilled in creating compelling, SEO-optimized content for various industries '"></app-card-profile>
            </div>
        </div>
    </section>
</div>
