<div class="container">
    <section>
        <div class="row">
            <div class="col">
                <app-card-profile></app-card-profile>
            </div>
            <div class="col">
                <app-card-profile></app-card-profile>
            </div>
            <div class="col">
                <app-card-profile></app-card-profile>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-card-profile></app-card-profile>
            </div>
            <div class="col">
                <app-card-profile></app-card-profile>
            </div>
            <div class="col">
                <app-card-profile></app-card-profile>
            </div>
        </div>
    </section>
</div>
