<div class="container text-left">
    <div class="card card-green">
      <div class="row">
        <div class="col">
          <div class="imageAlto mt-4">
            <img [src]="image_txt" />
          </div>
          <div class="row">
            <div class="col" style=" display: flex; align-items: center;">
              <h1 class="h1-style" >
                {{number}}
              </h1>
              <h3>{{title}}</h3>
            </div>
            <div class="col-1">
              <div class="stype-border">
                <h1 class="text-center"> - </h1>
              </div>
              <!--img src="../../../assets/img/Plus icon.png" /-->
            </div>
          </div>
          <div class="hr"></div>
          <p class="p-style">{{description}}</p>
        </div>
      </div>
      </div>
</div>