.card {
    font-family: Space Grotesk;
    font-size: 18px;
    background: #FFF;

}

.card-white {
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px 0px #191A23;
    min-height: 50%;
    margin-bottom: 10%;
}

.traco {
    border-bottom: 2px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: black;

}

.h4-size {
    font-family: Space Grotesk;
    width: 110px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
    margin-top: 24%;
}
.profile{
    white-space: nowrap;
    width: 148px;
    height: 23px;
    top: 79.82px;
    left: 125.65px;
}
.content-card{
     padding: 34px;
}

.description {
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 20px;
}

.space-row{
    margin-bottom: 5%;
}