/* You can add global styles to this file, and also import other style files */
.link{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.a {
    text-decoration: none !important;
}