.content-card{
    padding-left: 7%;
    padding-top: 7%;
    padding-bottom: 9%;
}
.space-but{
    width: 100%;
    padding: 21px;
}
.bc-input{
    padding: 21px;
    border-radius: 15px;
    border-color: black;
}
.content-w{
    width: 80%;
}


.card{
    background: #F3F3F3; 
}

.img-cart{
        display: flex!important;
        justify-content: flex-end;
}