<div class="container">
    <div class="card">
        <div class="content-card d-flex">
                <div class="col-8">
                            <label style="font-size:  25px;">
                            <INPUT TYPE="radio" NAME="OPCAO" VALUE="op3" style="width: 25px; height: 25px;"> 
                                 Say Hi</label>

                            <label style="margin-left: 61px; font-size:  25px;">
                                <INPUT TYPE="radio" NAME="OPCAO" VALUE="op3" style="width: 25px; height: 25px;"> 
                                    Get a Quote
                            </label>
                    <div class="content-w">
                        <form class="form">
                            <div class="mt-4">
                            <div class="ml-4">
                                <label class="mb-1 mt-1">Name*</label>
                                <input type="text" class="form-control bc-input" placeholder="nome">
        
                            </div>
                            <div class="ml-4 mt-4">
                                <label class="mb-1 mt-1">E- mail*</label>
                                <input type="text" class="form-control bc-input"  placeholder="E-mail">
                            </div>
                            <div class="ml-4">
                                <label class="mb-1 mt-1">Message*</label>
                                <textarea cols="50" type="text" class="form-control bc-input">Message
                                </textarea> <br>
                            </div>
                            <div class="button btn-dark">
                                <button type="button" class="btn btn-dark  space-but">Send Message</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="col img-cart">
                    <img src="../../../assets/img/star.jpeg">
                </div>
        </div>
    </div>
</div>

<!-- 
   <div class="row">
        <div className="col-8">
        <div className="col-4">
        <form action="/form-control" method="post">
    <div>
        <label for="nome">Name</label> <br>
        <input class="form-control" type="texto" id="nome" name="nome_usuario">
    </div>
    <div>
        <label for="email">Email</label> <br>
        <input class="form-control" type="email" id="email" name="email_usuario">
    </div>
    <div>
        <label for="texto">Message</label> <br>
        <textarea id="texto" name="texto_usuario"></textarea> <br>
        <div class="button">
            <button type="button" class="btn btn-dark">Send Message</button>
          </div>
           </div>
        </form>
          </div>
        </div>
       </div>

<!-- 
   <div class="row">
        <div className="col-8">
        <div className="col-4">
        <form action="/form-control" method="post">
    <div>
        <label for="nome">Name</label> <br>
        <input class="form-control" type="texto" id="nome" name="nome_usuario">
    </div>
    <div>
        <label for="email">Email</label> <br>
        <input class="form-control" type="email" id="email" name="email_usuario">
    </div>
    <div>
        <label for="texto">Message</label> <br>
        <textarea id="texto" name="texto_usuario"></textarea> <br>
        <div class="button">
            <button type="button" class="btn btn-dark">Send Message</button>
          </div>
           </div>
        </form>
          </div>
        </div>
       </div>
-->